@keyframes blinking {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

html {
	scroll-behavior: smooth !important;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2em;

    background-color:  rgb(10, 22, 12);
}

h1 {
    margin: 0px !important;
}

h4, p, a {
    color: hsl(139, 55%, 83%);
}

.important {
    font-size: 1.5em;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80vw;
    padding-top: 3em;
    text-align: center;
    color: rgb(180, 210, 182);
}

#header-cursor {
    width: 1.25em;
    height: 1.275em;

    margin: 0.25em;

    border-bottom: 0.125em rgb(180, 210, 182) solid;;

    animation: blinking 0.5s alternate infinite;
}

nav {
    position: sticky;
    top: -0.75vh;

    background-color: rgb(25, 51, 28);
    text-align: center;

    z-index: 100;
}

nav a {
    color: hsl(139, 55%, 83%);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;

    position: relative;
    right: 3em;

    width: 60em;
}

#intro, #skills, #education, #contact {
    display: flex;
    flex-flow: row nowrap;
}

#projects {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    right: -6.75em;

    max-width: 55em;
}

#skills, #contact {
    position: relative;
    right: -10em;
}

#contact {
    height: 20em;
}

#intro, #skills, #projects, #education, #contact {
    padding-top: 3em;
}

header, nav, footer {
    width: 60em;
    border-radius: 5px;
}

#tv {
    position: relative;
    top: -1em;
    right: -4.5em;

    transform: rotate(-5deg);

    margin: 2em;
    padding: 2em;
}

#tv-frame {
    position: absolute;
    top: -3em;
    right: -2em;

    width: 30em;
}

#me-silly {
    width: 20em;
    padding: 0.5em;
}

#books {
    position: relative;
    top: -1em;
    right: 7em;

    width: 27.5em;
}

#keyboard {
    position: relative;
    right: -7.5em;

    transform: rotate(-35deg);

    width: 25em;
}

#pigeon {
    position: relative;
    right: 10em;

    width: 20em;
}

article {
    background-color: rgb(25, 51, 28);

    outline: 0.125em dashed rgb(180, 210, 182);
    outline-offset: -1em;

    padding: 1em 3em;
}

h4 {
    font-size: 1em;
    font-weight: bold;
}

footer {
    background-color: rgb(75, 150, 160);
    color: rgb(180, 210, 210);
    text-align: center;
}

footer a {
    color: rgb(180, 210, 210);
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li {
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1.25em;
}

li {
    list-style-type: none;
}

@media only screen and (max-width: 799px) {
    nav {
        width: 100vw;
        font-size: 0.75em;
    }

    ul {
        position: relative;
        right: 2em;
    }

    main {
        display: flex;
        flex-flow: row wrap;

        position: static;

        width: 27.5em;
    }

    #intro, #skills, #education, #contact {
        display: flex;
        flex-flow: row wrap;

        position: static;
    }

    #tv {
        position: relative;
        right: 0.5em;
    }

    #books, #keyboard, #projects, #pigeon {
        right: 0em;
    }
}